# Advent of Code Solutions

Solutions to the [Advent of Code](https://adventofcode.com/) problem sets.

$aoc-solutions.classLoader("D:\perso_projects\AdventOfCode\solutions\target\solutions-2023.1-SNAPSHOT.jar")

## Results
#set($solutions = $aoc-solutions.getSolutions())
#set($total = 0)
| Year | Day | Part | Name | Code | Test | Result | Time (ms) |
|------|-----|------|------|------|------|--------|-----------|
#foreach ($solution in $solutions)
    #set($nanos = $solution.getStatistics(10).getMin())
    #set($total = $total + $nanos)
| $solution.getYear() | $solution.getDay() | $solution.getPart() | [$solution.getDescription()]($solution.getLink()) | [Code](${SRC}/${PACKAGE}/soluce/year${solution.getYear()}/day${solution.getDay()}/Day${solution.getDay()}Part${solution.getPart()}Solution.java) | [Test](${TEST_SRC}/${PACKAGE}/soluce/year${solution.getYear()}/day${solution.getDay()}/Day${solution.getDay()}Part${solution.getPart()}SolutionTest.java) | $solution.getResult() | $aoc-solutions.nanoToMillis($nanos) |
#end

Solved $solutions.size() solutions in $aoc-solutions.nanoToSeconds($total) seconds.
